# Pembacaan Data dari File di Pandas

Pandas memiliki kelebihan yaitu dapat menampung data hasil bacaan dari file yang kemudian nilainya akan diproses dalam struktur data series atau dataframe. Ada beberapa jenis file yang didukung oleh pandas dan dua di antaranya yang paling sering digunakan adalah file CSV dan Excel. Berikut adalah pembahasan tentang bagaimana suatu file dibaca oleh pandas.

## File CSV

Salah satu tipe file yang paling populer dalam data science adalah file csv. File csv berstruktur mirip seperti tabel (secara logika) dengan memanfaatkan karakter ``,`` (koma) atau ``;`` (titik koma) sebagai pemisah data antar kolom. Sebagai contoh, silakan perhatikan contoh file CSV berikut:

<b>produk.csv</b>

```csv
kode_produk,nama_produk,jumlah
A,AC,10
B,Becak,3
C,Charger,25
D,Dadu,100
E,Engsel Pintu,5

```

atau bisa juga seperti ini:

<b>product2.csv</b>

```csv
kode_produk;nama_produk;jumlah
A;AC;10
B;Becak;3
C;Charger;25
D;Dadu;100
E;Engsel Pintu;5

```

File csv biasanya diawali dengan baris header untuk menyatakan nama kolom dan diikuti dengan baris data setelahnya. Untuk memisahkan antar baris data, file csv menggunakan 1 karakter enter. Perhatikan juga bahwa pemberian karakter enter diberikan juga pada baris data terakhir. Penggunaan delimiter harus seragam dalam sebuah CSV. Pandas mempunyai fungsi ``read_csv()`` untuk melakukan pembacaan data dari file CSV. Berikut contoh penggunaannya:

><b>Catatan:</b> Buat dahulu file product.csv dan product2.csv (copy-paste saja datanya termasuk enter) menggunakan data yang sudah disebutkan sebelumnya dan simpan di folder yang sama dengan file .ipynb atau .py anda untuk mempermudah pengaksesan.

In [1]:
import pandas as pd

file_path = 'product.csv'
data_produk = pd.read_csv(file_path)

data_produk

  kode_produk   nama_produk  jumlah
0           A            AC      10
1           B         Becak       3
2           C       Charger      25
3           D          Dadu     100
4           E  Engsel Pintu       5

Untuk mengakses data pada file CSV yang memiliki delimiter berupa tanda ``;``, maka kita menambahkan parameter ``delimiter`` sebagai berikut:

In [2]:
file_path = 'product2.csv'
data_produk = pd.read_csv(file_path, delimiter = ';')

data_produk

  kode_produk   nama_produk  jumlah
0           A            AC      10
1           B         Becak       3
2           C       Charger      25
3           D          Dadu     100
4           E  Engsel Pintu       5